
.body {
margin-bottom: 32px;
width: 940px;
margin: 0 auto;
display: block;
font-family: Arial, Helvetica, sans-serif;
color: #c6d4df;
background-color: #1b2838;
font-size: 12px;
}

.game_title {
  padding-top: 0px;
  margin: 0 auto;
  color: white;
  font-size: 26px;
  font-family: Motiva Sans, Sans-Serif;
  line-height: 32px;
}
.col_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right_col {
  float: left;
  margin-right: 16px;
  margin-top: 5px;
}



.title_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;

}

.description {
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6d4df;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.reviews {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;

}
.reviews_all {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 7px;
}

.recent {
  text-transform: uppercase;
  padding-right: 10px;
  min-width: 94px;
  color:#556772 ;
}

.recent_summary {
  color: #63bbed;
  padding-right: 10px;
  min-width: 94px;
}

.release_date {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 7px;
}

.date {
  color: #8f98a0;
}

.popular {
  padding-right: 10px;
  min-width: 94px;
  color:#556772 ;
}

.row_tags {
  display: flex;
  flex-direction: row;
}

.tags {
  line-height: 19px;
  padding: 0 7px;
  color: #5baad8;
  background-color: rgba( 103, 193, 245, 0.2 );
  box-shadow: none;
  margin-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tags:hover {
  color: white;
  background-color: #779abd;
}



.left_col {
  float: left;
  margin-right: 16px;
  margin-top: 5px;
}




.main_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

.scroll_strip {
  margin-top: 4px;
  position: relative;
  height: 69px;
  margin-bottom: 4px;
}

.grid {
  width: 940;
  position: relative;
}

#row {
  overflow: auto;
  white-space: nowrap;
  width: 600px;
}


#row::-webkit-scrollbar {
  height: 18px;
  width: 5px;
}


#row::-webkit-scrollbar-track {
  background: #16202d !important;
  border: 1px solid #16202d !important;
}

#row::-webkit-scrollbar-thumb {
  width: 10px;
  height: 15px;
  background-color: #434953;
  border-radius: 3px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}


#row::-webkit-scrollbar-track {
    background: #16202D !important;
    border: 1px solid #16202D !important;
}

#row::-webkit-scrollbar-thumb:hover {
  background: #417a9b;
}


.col {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
}


.col_border {
  bottom: 100%;
  left: 50%;
  margin-left: -2px;
  border-width: 3px;
  border-style: solid;
  border-color: #c7d5e0;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
}



.scroll_row {
  display: flex;
  height: 18px;
}

.scroll_col {
  position: relative;
  width: 300px;
  border-radius: 3px;
}


.prev {
  position: absolute;
  width: 38px;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: rgba( 35, 60, 81, 0.4 );
}

.prev span {
  display: inline-block;
  background-position: -18px 0px;
  background-repeat: no-repeat;
  background-image:url('https://store.steampowered.com/public/images/v6/icon_cluster_controls.png');
  width: 9px;
  height: 7px;
  margin-left: 13px;
  margin-top: 5px;
}


.next {
  position: absolute;
  width: 38px;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: rgba( 35, 60, 81, 0.4 );

}

.next span {
  display: inline-block;
  background-position: -9px 0px;
  background-repeat: no-repeat;
  background-image:url('https://store.steampowered.com/public/images/v6/icon_cluster_controls.png');
  width: 9px;
  height: 7px;
  margin-left: 15px;
  margin-top: 5px;
}
.prev:hover  {
  background: #417a9b;
}
.next:hover {
  background: #417a9b;
}
.prev:hover > span {
  background-position: -18px -7px;
}
.next:hover > span {
  background-position: -9px -7px;
}


